.button {
    background-color:  rgb(5, 5, 71);
    color: white;
    padding: 4px 20px 4px 20px;
    border-radius: 4px;
    min-width: 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
   
  }
  .button:hover {
    background-color: black;
    outline: none;
  }
  