.product-main-div {
  width: 200px;
  margin-left: 30px;
  display: block;
  margin-top: 20px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  background-color: rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
}
.product-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-y: auto; */
}

#product-name {
  font-weight: bold;
  font-size: 12px;
}
#product-description {
  font-size: 12px;
}

#product-price {
  font-size: 12px;
}
.image {
  margin-left: 65px;
  width: 45px;
  justify-self: center;
}
#buy-now-button_element{
  margin-left: 25px;

}
img.cart-icon {
  margin-left: 170px;
  cursor: pointer;
}